/* Tab 2: 指定日期輸入區域的特定樣式 */
        .date-input-area {
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap; /* 允許換行以適應小螢幕 */
        }
        .date-input-area label {
            /* margin-right: 8px; */
            font-size: 1em;
            color: #34495e;
        }
        .date-input-area input[type="text"] {
            width: 6em; /* 年份欄位寬度 */
            padding: 8px 10px;
            margin: 0 3px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 100px;
            font-size: 1em;
            font-weight: 600;
            box-sizing: border-box; /* 確保padding和border不增加總寬度 */
            transition: box-shadow 0.3s, border-color 0.3s;
        }
        .date-input-area input[type="text"]:focus {
            outline: none;
            border-color: #91AD70;
            box-shadow: 0 0 12px 2px #b6e388, 0 0 2px 1px #91AD70 inset;
        }
        .date-input-area input#inputMonth,
        .date-input-area input#inputDay {
            width: 4em; /* 月、日欄位寬度 */
        }
        .date-input-area span.date-separator { /* 年月日文字 */
            margin: 0 3px;
            font-size: 1em;
            color: #34495e;
        }

        #calculateSpecifiedDate {
            padding: 8px 22px;
            font-size: 1em;
            font-weight: 800;
            color: white;
            background-color: #91AD70; /* 計算按鈕改為綠色 */
            border: none;
            border-radius: 9px;
            cursor: pointer;
            /* margin-bottom: 20px; */
            transition: background-color 0.3s;
        }
        #calculateSpecifiedDate:hover {
            background-color: #218838;
        }
        .results-specified-date {
            margin-top: 15px;
        }
        /* 錯誤訊息樣式 (可選) */
        .error-message {
            color: #d70000;
            font-size: 0.9em;
            margin-top: 10px;
        }

        .specialareaword{
            color: #2c3e50; 
            font-weight: 700;
        }